{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/index_style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/index.js') }}"></script>
{% endblock %}

{% block body %}
<!--PorteFolio-->
<div class="bars active" id="nav-action">
  <span class="bar"> </span>
</div>

<!--Navbar Links-->
<nav id="nav">
  <ul>
 <li class="shape-circle circle-one"><a href="{{ path('contact') }}">Contact</a></li>
                <li class="shape-circle circle-two"><a href="{{ path('projet') }}">Projets</a></li>
                <li class="shape-circle circle-three"><a href="{{ path('portefolio') }}">portefolio</a></li>
                <li class="shape-circle circle-five"><a href="{{ path('home') }}">Home</a></li>
                <li class="shape-circle circle-admin"><a href="{{ path('admin_login') }}">Admin</a></li>
  </ul>
</nav>

<!--Main Body Content-->
<article class="container">
  <h1>portefolio</h2><br> <h1>N'DIAYE<br> Abdoulaye</h2>
  <h3>Inspired by me</h3>
</article>
{% endblock %}
