<header>
    <nav>
        <div class="bars" id="nav-action">
            <span class="bar"> </span>
        </div>
        <ul>
            <li class="shape-circle circle-one"><a href="{{ path('contact') }}">Contact</a></li>
            <li class="shape-circle circle-two"><a href="{{ path('projet') }}">Projets</a></li>
            <li class="shape-circle circle-three"><a href="{{ path('portefolio') }}">portefolio</a></li>
            <li class="shape-circle circle-five"><a href="{{ path('home') }}">Home</a></li>
            <li class="shape-circle circle-admin"><a href="{{ path('admin_login') }}">Admin</a></li>
        </ul>
    </nav>
</header>
